<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Index Page</title>
</head>
<body>
    You have to login first.<br>
    username : <input id="user-name-input" type="text" size="100" placeholder="닉네임을 입력해주세요"><br>
    <input id="login-submit" type="button" value="Enter">

    <script>
        document.querySelector('#user-name-input').focus();
        document.querySelector('#user-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#login-submit').click();
            }
        };

        document.querySelector('#login-submit').onclick = function(e) {
            var userName = document.querySelector('#user-name-input').value;
            var createUserUrl = `http://${window.location.host}/api/game/user/`;
            var data = {'nickname': userName};

            fetch(createUserUrl, {
                method: 'POST',
                body : JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json())
            .then(response => console.log('SUCCESS:', JSON.stringify(response)))
            .catch(error => console.error('ERROR:', error));

            window.location.pathname = 'api/game/choice/'
        };

    </script>
</body>
</html>