<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="user-name-input" type="text" size="100"><br>
    <input id="enter-room-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#enter-room-submit').click();
            }
        };

        document.querySelector('#user-name-input').focus();
        document.querySelector('#user-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#enter-room-submit').click();
            }
        };

        document.querySelector('#enter-room-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            var userName = document.querySelector('#user-name-input').value;
            window.location.pathname = `api/game/room/${roomName}/`;

            const gameInfoSocket = new WebSocket(
               `ws://${window.location.host}/ws/game/room/${roomName}/`
                );

            gameInfoSocket.onclose = function(e){
                console.error('Game Info socket closed unexpectedly');
            };

            gameInfoSocket.onmessage = function(e) {
                    const data = JSON.parse(e.data);
                    document.querySelector('#chat-log').value += (data.message + '\n');
            };

            gameInfoSocket.send(JSON.stringify({
                'type' : 'ENTER',
                'sender_id': userName
            }));
        };



    </script>
</body>
</html>