<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <input id="exit-message-submit" type="button" value="Exit">

    <input id="ready-message-submit" type="button" value="Ready">

    <script type="text/javascript">
        const roomId = "{{ room_id }}";
        const cookieName = 'user_id';

        var isReadyToggled;


        let getCookie = (name) => {
            let cookieArr = document.cookie.split(';');

            for(let i=0; i<cookieArr.length; i++){
                let cookie = cookieArr[i];
                console.log(cookie);
                while(cookie.charAt(0)==' '){
                    cookie = cookie.substring(1);
                }
                let cookieVal = cookie.split('=');
                if(cookieVal[0] == name){
                    console.log(cookieVal);
                    return cookieVal[1];
                }
            }
        };
        const userId = getCookie(cookieName);

        let ws = new WebSocket(
            `ws://${window.location.host}/ws/game/room/${roomId}/`
        );

        ws.onopen = (e) => {
            console.log('WebSocket opened');
            ws.send(
                  JSON.stringify({
                    'type' : 'ENTER',
                    'sender_id': userId
                  })
            );
            isReadyToggled = false;
        };



        document.querySelector('#ready-message-submit').onclick = (e) => {

            if(isReadyToggled == false){
                isReadyToggled = true;
                var msg = {
                    type : 'READY',
                    sender_id : userId
                };
                ws.send(JSON.stringify(msg));

            }else {
                isReadyToggled = false;
                var msg = {
                    type : 'WAIT',
                    sender_id : userId
                };
                ws.send(JSON.stringify(msg));
            }

        };

        document.querySelector('#exit-message-submit').onclick = (e) => {

            var msg = {
                    type: 'EXIT',
                    sender_id : userId
                };
            ws.send(JSON.stringify(msg));

        };

        ws.onmessage = (event) => {
            const data = JSON.parse(event.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        ws.onclose = (e) => {
            console.error('WebSocket closed unexpectedly');
        };


    </script>
</body>
</html>