<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <input id="exit-message-submit" type="button" value="Exit">

    <input id="ready-message-submit" type="button" value="Ready">

    <input id="check-message-submit" type="button" value="Check">
    <input id="bet-message-submit" type="button" value="Bet">
    <input id="call-message-submit" type="button" value="Call">
    <input id="raise-message-submit" type="button" value="Raise">
    <input id="die-message-submit" type="button" value="Die">

    <script type="text/javascript">
        const roomId = "{{ room_id }}";
        //const cookieName = 'user_id';

        let isReadyToggled;

        // let getCookie = (name) => {
        //     let cookieArr = document.cookie.split(';');
        //
        //     for(let i=0; i<cookieArr.length; i++){
        //         let cookie = cookieArr[i];
        //         console.log(cookie);
        //         while(cookie.charAt(0)===' '){
        //             cookie = cookie.substring(1);
        //         }
        //         let cookieVal = cookie.split('=');
        //         if(cookieVal[0] === name){
        //             console.log(cookieVal);
        //             return cookieVal[1];
        //         }
        //     }
        // };
        // const userId = getCookie(cookieName);

        let ws = new WebSocket(
            `ws://${window.location.host}/ws/game/room/${roomId}/`
        );

        ws.onopen = (e) => {
            console.log('WebSocket opened');
             let msg = {
                    type : 'ENTER',
            };
            ws.send(
                  JSON.stringify(msg)
            );
            isReadyToggled = false;
        };



        document.querySelector('#ready-message-submit').onclick = (e) => {

            let msg;
            if(isReadyToggled === false){
                msg = {
                    type: 'READY',
                };
                ws.send(JSON.stringify(msg));
            }else {
                msg = {
                    type: 'WAIT',
                };
                ws.send(JSON.stringify(msg));
            }
             isReadyToggled = !isReadyToggled;

        };

        document.querySelector('#exit-message-submit').onclick = (e) => {
            let msg = {
                type: 'EXIT',
            };
            ws.send(JSON.stringify(msg));

        };

        document.querySelector('#check-message-submit').onclick = (e) => {
            let msg = {
                    type: 'CHECK',
                    bet: 1
                };
            ws.send(JSON.stringify(msg));
        }

        ws.onmessage = (event) => {
            let data = JSON.parse(event.data);
            let msgObj = JSON.parse(data.message);

            console.log(msgObj);
            document.querySelector('#chat-log').value += (msgObj.message + '\n');

        };

        ws.onclose = (e) => {
            console.error('WebSocket closed unexpectedly');
        };


    </script>
</body>
</html>