<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Room Info</title>
</head>
<body>
    기존에 있는 방 입장하기<br>
    room code: <input id="room-code-input" type="text" size="100" placeholder="방코드를 입력해주세요"><br>
    <input id="enter-room-submit" type="button" value="Enter">

    <br>
    <br>
    방만들기<br>
    room name: <input id="room-name-input" type="text" size="100" placeholder="방이름을 입력해주세요"><br>
    <input id="make-room-submit" type="button" value="Enter">

    <script>
        //  const cookieName = 'user_id';
        //  let getCookie = (name) => {
        //     let cookieArr = document.cookie.split(';');
        //
        //     for(let i=0; i<cookieArr.length; i++){
        //         let cookie = cookieArr[i];
        //         //console.log(cookie);
        //         while(cookie.charAt(0)===' '){
        //             cookie = cookie.substring(1);
        //         }
        //         let cookieVal = cookie.split('=');
        //         if(cookieVal[0] === name){
        //             //console.log(cookieVal);
        //             return cookieVal[1];
        //         }
        //     }
        // };
        //  const userId = getCookie(cookieName);
         //console.log(userId)

        const createRoomUrl = `http://${window.location.host}/api/game/room/`;
        const createRoom = async (roomName) => {
            return await fetch(createRoomUrl, {
                method : 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({'name': roomName})
            });
        }

        document.querySelector('#room-code-input').focus();
        document.querySelector('#room-code-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#enter-room-submit').click();
            }
        };

        document.querySelector('#enter-room-submit').onclick = (e) => {
            let roomCode = document.querySelector('#room-code-input').value;
            window.location.href = `http://${window.location.host}/api/game/room/${roomCode}/`;

        };

        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#make-room-submit').click();
            }
        };

        document.querySelector('#make-room-submit').onclick = (e) => {
            let roomName = document.querySelector('#room-name-input').value;

            const createAndEnterRoom = async (roomName) => {
                try {
                    let res = await createRoom(roomName);
                    let json = await res.json();
                    let roomId = json.id;
                    window.location.href = `http://${window.location.host}/api/game/room/${roomId}/`;
                }catch (err){
                    console.log(err);
                }
            };
            createAndEnterRoom(roomName);

        };

    </script>
</body>
</html>