<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">

    <input id="exit-message-submit" type="button" value="Exit">

    <script type="text/javascript">
        const roomId = "{{ room_id }}";
        const cookieName = 'user_id';

        let getCookie = (name) => {
            let cookieArr = document.cookie.split(';');

            for(let i=0; i<cookieArr.length; i++){
                let cookie = cookieArr[i];
                console.log(cookie);
                while(cookie.charAt(0)==' '){
                    cookie = cookie.substring(1);
                }
                let cookieVal = cookie.split('=');
                if(cookieVal[0] == name){
                    console.log(cookieVal);
                    return cookieVal[1];
                }
            }
        };
        const userId = getCookie(cookieName);

        let gameInfoSocket = new WebSocket(
            `ws://${window.location.host}/ws/game/room/${roomId}/`
        );

        gameInfoSocket.onopen = (e) => {
            console.log('Game Info socket opened');
            gameInfoSocket.send(
                  JSON.stringify({
                    'type' : 'ENTER',
                    'sender_id': userId})
              );
        };

        gameInfoSocket.onmessage= (event) => {
            console.log(event);
            const data = JSON.parse(event.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        gameInfoSocket.onclose = (e) => {
            console.error('Game Info socket closed unexpectedly');
        };



        document.querySelector('#exit-message-submit').onclick = (e) => {
            let exitRoomUrl = `http://${window.location.host}/api/game/room/${roomId}/`;

            fetch(exitRoomUrl, {
                method:'DELETE',
                headers:'application/json'
            }
            ).then(response => response.json())
            .then(json => {
                console.log("SUCCESS: " , JSON.stringify(json))
            })
            .catch(error => {
                console.error("ERROR: ", error)
            });

            let exitSocket = new WebSocket(`ws://${window.location.host}/ws/game/room/${roomId}/`);

            exitSocket.onopen = (e) => {
                console.log('exit socket opened');
                exitSocket.send(
                      JSON.stringify({
                        'type' : 'EXIT',
                        'sender_id': userId})
                  );
            };


            exitSocket.onmessage= (event) => {
                console.log(event);
                const data = JSON.parse(event.data);
                document.querySelector('#chat-log').value += (data.message + '\n');
            };

           exitSocket.onclose = (e) => {
                console.error('exit socket closed unexpectedly');
            };
        };



    </script>
</body>
</html>